parameters:
    level: 8
    paths:
        - ../../config
        - ../../src
        - ../../tests
    bootstrapFiles:
        #- .phpstan.constants.php
    ignoreErrors:
    - '#Property App\\Entity\\Room::\$.* is never assigned .*#'
    - '#Property App\\Entity\\Item::\$.* is never assigned .*#'