

.api a {
    text-decoration: underline;
    color: #CEECF2;
    width: 100%;
}

.api {
    border: 2px solid #000;
    display: inline;
    margin: 0 auto;
    margin-top: 1em;
    width: 30%;
    padding: 0.5em;
    text-align: center ;
    background-color: #3e6a84;
}

.api select {
    background-color:#3e6a84;
    color: #CEECF2;
    padding: 0.3em;
    border: 1px solid #000;
}

.api button {
    background-color: #3e6a84;
    color: #CEECF2;
    padding: 0.3em;
    border: 1px solid #000;
}

.api button:hover {
    background-color: #1E4359;
}

.api select:hover {
    background-color: #1E4359;
}

.api a:hover {
    color: #000;
}

.api:last-child {
    margin-bottom: 2em;
}
