
.game {
  font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
}

.game h1{
  text-align: center;
  margin-bottom: 1em;
}

.game p{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.submit {
  padding: 0.5em;
  margin: 0.2em;
  display: inline;
}

.start {
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: #000;
    padding: 4em;
    text-decoration: none;
}

.start:hover {
    color: #006900;
}


.actions {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.actions-pockets {
    width: 100%;
    display: grid;
    gap: 2em;
    align-items: start;
    grid-template-columns: 2fr 1fr;
}

.pockets {
    grid-column: 2;
}

.flash-text {
    color: aquamarine;
}

.play {
    background-color: #000;
    margin: -1em;
    margin-top: -2em;
    margin-bottom: -2em;
    color: #D3D3D3;
    padding:  1em;
    height: 100%;
    flex-grow: 1;
}


.submit {
    font-family: "Press Start 2P", system-ui, Arial, Helvetica, sans-serif;
    background-color: #000;
    color:#00ffff;
    border: none;
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

.submit:hover {
    color: #2ac12a;
}

select {
    padding: 0.2em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #D3D3D3;
}