@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './header.css';
@import './footer.css';
@import './game.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100%;
    min-height: 100vh;
    line-height: 1.4;
    background-color:#3e6a84;
    flex-direction: column;
    display: flex;
}

main {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 2em;
}

.main {

    background-color: rgb(255 255 255 / 30%);
    padding: 1em;
    flex-grow: 1;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

.margin {
    margin: 2em;
}