{# templates/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>JSON routes</h1>
    <a href="{{ path('quote') }}">
        <div class="json">
        <h3>Quote</h3>
        <p>Slumpade citat</p>
        </div>
    </a>
{% endblock %}
