{# templates/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Presentation</h1>
    <p>Jag heter Lisa, jag läser webbprogrammering på BTH. Jag älskar att ha en frys. Mina bästa frystips är att frysa in pressad lime och pressad citron och att alltid ha dill och koriander. Men mest dill! Det här är min sida för MVC-kursen.</p>
    <img src="{{ asset('build/images/me.jpg') }}" alt="jag" width=300>
{% endblock %}
