{# templates/lucky.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <center>
        
        <h3>Här är din lyckokatt:</h3>
        <img class="flower" src="{{ asset('build/images/'~number~'.jpg') }}" alt="lyckokatt">
        <h3>{{ name }}</h3>
    </center>
{% endblock %}